<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title><%=article.title%></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/article.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <ul class="nav-bar">
            <li class="nav-item"> <h5><a href="/">Home</a></h5> </li>
            <li class="nav-item"> <h5><a href="/articles/new">New Article</a></h5> </li>
            <!-- <li class="nav-item"> <h5><a href="/toread">Saved List</a></h5> </li> -->
            <li class="nav-item"> <h5><a href="/users">View Users</a></h5> </li>
            <!-- <li class="nav-item"> <h5><a href="/users/new">New User</a></h5> </li> -->
            <!-- <li class="nav-search"> <form action="/search" method="GET"> <input type="text" name="terms" class="menu-search"> <button class="button-primary search-button">search</button> </form> </li> -->
        </ul>

    </nav>

    <div class="comment-modal hidden">
        <div class="comment-modal-body">
            <h3 class="modal-title">Leave a new comment</h3>
            <p class="comment-modal-ptext"></p>
            <form action="/comments" method="POST" class="comment-form">
                <span class="profile-pic-container"></span>
                <label for="user-name">User Name</label>
                <input type="text" id="user-name" name="user_name" required placeholder="user name"><br>
                <label for="new-comment-content">Leave your comment here</label>
                <textarea name="content" id="new-comment-content"></textarea><br>
                <button class="button-primary submit-comment">Submit</button>
                <input type="hidden" name="paragraph_id" class="paragraph-id">
                <input type="hidden" name="user_id" class="user-id">
            </form>
            <input type="submit" name="cancel" class="cancel button" value="Cancel">
        </div>
    </div>

    <div class="menu-spacer"></div>
    <section class="header-section">
        <div class="container"> 
            <div class="row">
                <div class="one-half column article-title">
                    <h2 class="page-title"><u><%=article.title%></u></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="article">
        <div class="container">
            <div class="row">
                <div class="twelve columns article-body">
                    <% paragraphs.forEach(function (paragraph) {%>
                    <div class="row paragraph">
                        <div class="one-half column paragraph-content">
                            <p class="content" id="p<%=paragraph.id%>"><%=paragraph.content%>
                            </p>
                            <div> 
                                <p class="comment-indicator <%= paragraph.comment_count > 0 ? 'yes-comments' : 'no-comments' %>">&nbsp</p>
                            </div>
                        </div>
                        <!-- <div class="one column">
                            
                            &nbsp;
                        </div> -->
                        <div class="five columns paragraph-comments">
                            
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="row">
                <div class="one-half column">
                    <div class="byline">
                        <p><em>User: <%=user.user_name%></em> | posted on: <em><%=article.date_created%></em></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script language="javascript" type="text/javascript" src="/js/article.js"></script>
</body>
</html>